body{
	background: black;
}

header{
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 45%, rgba(6,21,217,1) 100%);
	padding: 20px 0px;
}

.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.caixa img {
	width: 200px;
	height: 200px;
}

nav  {
	position: absolute;
	top: 100px;
	right: 0px;
}

nav li{
	display: inline;
	margin: 0 0 15px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	padding: 15px;
}

.menu-nav {
	text-decoration: none;
	color: #ffffff
}

.menu-nav:hover {
	color: #f7f905;
}

.menu-nav:active{
	color: #000000;
}

main{
	background: #000000;
}

h1{
	font-family: 'Oswald', sans-serif;
	position: block;
	margin: 35px 25px 35px;
	font-size: 65px;
	color: grey;
	text-transform: uppercase;
}

h2{
	font-size: 45px;
	font-weight: bold;
	margin: 10px 0 20px;
	font-family: 'Saira Condensed', sans-serif;
	color: white;
}

form {
  margin: 40px 0;
}

form label,
legend,
p {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
  font-family: 'Saira Condensed', sans-serif;
  color: silver;
}

.input-padrao,
form textarea {
  display: block;
  width: 50%;
  margin: 0 0 20px;
  padding: 10px 25px;
}

select {
  width: 20%;
  padding: 10px 10px;
  font-size: 20px;
}

.checkbox {
  margin: 15px;
}